.env

venv/
env/

__pycache__/
*.py[cod]
*$py.class

.DS_Store

input/*
!input/.gitkeep
output/curriculum/*
!output/curriculum/.gitkeep
output/curriculum_store/*
!output/curriculum_store/.gitkeep
output/module_store/*
!output/module_store/.gitkeep
output/reference/*
!output/reference/.gitkeep